.signup {
  width: 100vw;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  left: 0px;
  top: 104px;
  background: #070e27;
  text-align: center;
}

.signupwrap {
  width: 500px;
  height: auto;
  margin: 22px auto;
  padding: 0 27px;
}

.signup-title {
  text-align-last: left;
  width: 252px;
  height: 34px;
  font-size: 32px;
  color: #ffffff;
}

/* signup 페이지 : 이메일 입력 그룹*/
.signup-email {
  width: 86vw;
  height: 106px;
  margin-top: 29px;
}

.signup-email-title {
  width: 100%;
  height: 20px;
  font-weight: 500;
  font-size: 16px;
  color: #d4d4d4;
  text-align: left;
}

.signup-email-input {
  width: 86vw;
  height: 52px;
  margin-top: 8px;
  margin-bottom: 8px;
  background: #ffffff;
  border: 1px solid #dbe2ea;
  border-radius: 6px;
  font-size: 16px;
  line-height: 21px;
  padding-left: 16px;
}

.signup-email-warning {
  width: 250px;
  height: 18px;
  font-size: 14px;
  line-height: 18px;
  color: #ff7171;
  text-align: left;
}

.signup-email-ok {
  width: 250px;
  height: 18px;
  font-size: 14px;
  line-height: 18px;
  color: #0059f7;
  text-align: left;
}

/* signup 페이지 : 비밀번호 입력 그룹*/
.signup-password {
  width: 86vw;
  height: 106px;
  margin-top: 29px;
}

.signup-password-warning {
  width: 360px;
  height: 18px;

  font-size: 14px;
  line-height: 18px;
  color: #ff7171;
  text-align: left;
}

/* signup 페이지 : 비밀번호 재입력 그룹*/
.signup-repassword {
  width: 86vw;
  height: 106px;
  margin-top: 29px;
}

/* signup 페이지 : 닉네임 입력 그룹*/
.signup-nickname {
  width: 86vw;
  height: 106px;
  margin-top: 29px;
}

/* signup 페이지 : 이미지 선택*/
.signup-image {
  width: 86vw;
  height: 20px;
  margin-top: 29px;
  font-size: 20px;
  line-height: 26px;
  color: #d4d4d4;
  text-align: left;
}

.signup-image-group {
  width: 86vw;
  height: 106px;
  margin-top: 18px;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  padding-top: 14px;
}

.signup-image-group-1 {
  width: 70px;
  height: 70px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.signup-image-group-1:hover {
  width: 70px;
  height: 70px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  border: 2px solid #0000c5;
}
.signup-image-group-1-selected {
  width: 70px;
  height: 70px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  border: 3px solid #0000c5;
}

.signup-btn {
  width: 86vw;
  height: 56px;
  margin-top: 29px;
  background: #0059f7;
  border-radius: 8px;
  border-width: 0px;
  cursor: pointer;
}

.signup-btn-text {
  position: relative;
  width: 67px;
  height: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 120% */
  color: #ffffff;
  margin: 0px auto;
  top: 16px;
}

/* 회원가입 완료 모달 */
.singupModal-background {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: grid;
  place-items: center;
}

.singupModal {
  width: 271px;
  height: 313px;
  margin: 0px auto 0px auto;
  background: #0059f7;
  text-align: center;
  border-radius: 10px;
}

.suM-image {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 43px auto 0px auto;
  background: url("../img/Signup-ok.png");
  background-position: center;
  background-size: cover;
}

.suM-text {
  width: 135px;
  height: 48px;
  margin: 26px auto 0px auto;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  /* or 120% */

  text-align: center;

  color: #ffffff;
  word-break: keep-all;
}

.suM-btn {
  width: 100px;
  height: 34px;
  margin: 21px auto 0px auto;

  background: #ffffff;
  border-radius: 8px;
  border-width: 0px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #000000;
  cursor: pointer;
}
